@charset "UTF-8";

body {
	margin:0px;
	object-fit:contain;
	background-image:url('https://cdna.artstation.com/p/assets/images/images/002/940/212/large/marc-zieger-raumschiffhangar-a-0-0001.jpg?1467559553');
	background-repeat:no-repeat;
	background-size: cover;
}

#GoHome {
background-color: #FF8C00;
border: none;
color: white;
text-align: center;
text-decoration: none;
font-size: 16px;
border-radius: 12px;
font-family: impact;
padding: 5px;
width: 100px;
-webkit-transition-duration: 0.4s;
Safari
transition-duration: 0.4s;
}

#Join_Multiplayer_Div {
	margin: 0 auto;
	align-self: center;
	color: white;
	text-align: center;
	font-size: 35px;
}

#Join_Multiplayer {
	background-color: #FF8C00;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	border-radius: 12px;
	font-family: impact;
	padding: 20px;
	width: 300px;
	margin-top: 325px;
	-webkit-transition-duration: 0.4s;
	Safari
	transition-duration: 0.4s;
}