@charset "UTF-8";

body {
	margin:0px;
	object-fit:contain;
	background-image:url('https://cdna.artstation.com/p/assets/images/images/002/940/212/large/marc-zieger-raumschiffhangar-a-0-0001.jpg?1467559553');
	background-repeat:no-repeat;
	background-size: cover;
}

#GoHome {
	background-color: #DAA520;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 12px;
	font-family: impact;
	padding: 5px;
	width: 100px;
	-webkit-transition-duration: 0.4s;
	Safari
	transition-duration: 0.4s;
}

#pageTitle {
	text-align: center;
	font-size: 45px;
	color: #B8860B;
	-webkit-text-stroke-width: 3px;
   	-webkit-text-stroke-color: black;
   	margin-bottom: -0.5em;
}

#userInfoSection {
	margin: 0 auto;
	align-self: center;
	color: white;
	text-align: center;
	font-size: 25px;
	margin-top: -2em;
}

h4 {
	margin: 15px;
	font-size: 45px;
	margin-top: 25px;
	color: white;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

h6 {
	margin: 15px;
	font-size: 35px;
	color: white;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}
