@charset "UTF-8";

body {
	margin:0px;
	object-fit:contain;
	background-image:url('https://cdna.artstation.com/p/assets/images/images/002/940/212/large/marc-zieger-raumschiffhangar-a-0-0001.jpg?1467559553');
	background-repeat:no-repeat;
	background-size: cover;
}

#Page_Title {
	text-align: center;
	font-size: 50px;
	color: #B8860B;
	-webkit-text-stroke-width: 3px;
   	-webkit-text-stroke-color: black;
}

#userInfoSection {
	margin: 0 auto;
	align-self: center;
	color: white;
	text-align: center;
	font-size: 35px;
	margin-top: -2em;
}

#usernmae {
	margin: 15px;
	font-size: 35px;
	color: white;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

#inviteButton {
	background-color: #B8860B;
	color: white;
	-webkit-text-stroke-width: 0.1px;
   	-webkit-text-stroke-color: black;
   	width: 100px;
   	margin-top: -1.5em;
}

td {
	align-self: center;
	text-align: center;
	padding-left: 650px;
	padding-top: 50px;
}